<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    {% include navigation.html %}
    {{ content }}


    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
   <script src="assets/js/jquery.imagelistexpander.js"></script>
   <script>
   (function(global, $){
     console.log("yo");
     $('.gallery-items').imagelistexpander({
       prefix: "gallery-"

     });
   })(this, jQuery)

   </script>


  </body>
</html>
